.main-content {
  display: flex;
  width: 100%;
  height: auto;
  position: center;
}

.header-text {
  position: center;
  font-size: 50px;
}

.under-text {
  font-weight: 700;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Pretty self explanatory */

.articles {
  padding: 1rem 0 0 0;
  font-size: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.container {
  position: center;
  width: 80vw;
  transition: .5s ease;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  border-style: solid;
  border-width: 5px;
  border-radius: 2%;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: relative;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover {
  width: 100vw;
}

.container:hover .image {
  opacity: 0.3;
  filter: blur(5px);
}

.container:hover .middle {
  opacity: 1;
}

.text {
  color: black;
  font-size: 10vw;
  font-weight: 700;
  padding: 16px 32px;
  transform: translate(0vh,-30vw );
}

/* Buttons */
button {
  position: relative;
  transform: translate(0vh,-30vw );
  color: black !important;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 4vw;
  font-weight: 700;
  background: #ffffff6c;
  padding: 10px;
  border: 4px solid black !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
  border-radius: 10%;
}



/* Shapes! */
.shapes {
  padding: 0;
  margin: 0;
}

.shape-triangle {
  position: absolute;
  z-index: -4;
  width: 24vw;
  height: auto;
  animation: triangle-spin 10s linear infinite;
}

.shape-circle {
  position: absolute;
  z-index: -3;
  transform: translate(-70vw, 100vh);
  width: 20vw;
  height: auto;
  animation: circle-grow 10s ease infinite;
}

.shape-square {
  position: absolute;
  z-index: -3;
  width: 25vw;
  height: auto;
  animation: square-spin 22s linear infinite;
}

.shape-squiggle {
  position: absolute;
  z-index: -3;
  transform: translate(20vw, 60vh);
  width: 30vw;
  height: auto;
  animation: squiggle-float 5s ease infinite;
}

@keyframes triangle-spin {
  from {
    transform: translate(-60vw, 10vh) rotate(0deg);
    transform-origin: 50% 60%;
  }
  to {
    transform: translate(-70vw, 10vh) rotate(359deg);
    transform-origin: 50% 60%;
  }
}

@keyframes circle-grow {
  0% {
    transform: scale(1) translate(-60vw, 100vh);
  }
  50% {
    transform: scale(1.1) translate(-60vw, 100vh);
  }
}

@keyframes square-spin {
  from {
    transform: translate(-60vw, 160vh) rotate(0deg);
    transform-origin: 50% 60%;
  }
  to {
    transform: translate(-60vw, 160vh) rotate(359deg);
    transform-origin: 50% 60%;
  }
}

@keyframes squiggle-float {
  0% {
    transform: translate(20vw, 60vh);
  }
  50% {
    transform: translate(20vw, 70vh);
  }
} 
/* Laptop / desktop adjustments */
@media (min-width: 850px) {
  .header-text {
    font-size: 150px;
    padding: 4rem 0 0 0;
  }

  .under-text {
    font-size: 30px;
  }

  .single-skill {
    padding: 4rem;
    font-size: 30px;
  }

  .main-content {
    display: flex;
    width: 100%;
    height: auto;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }

  .text {
    color: black;
    font-size: 30px;
    font-weight: 700;
    padding: 16px 32px;
    transform: translate(0vh,0vh );
  }


  button {
    position: relative;
    transform: translate(0vh,0vh );
    color: black !important;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    background: #ffffff00;
    padding: 10px;
    border: 4px solid black !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    border-radius: 10%;
  }

  button:hover {
    cursor: pointer;
    font-size: 22px;
    font-weight: 700;
    background: #ffffffbb;
  }
  
  
  /* Pretty self explanatory */
  .section-title {
    padding: 2rem 0 0 0;
    font-weight: 700;
    font-size: 30px;
    opacity: 0.6;
  }
  
  .articles {
    padding: 1rem 0 0 0;
    font-size: 26px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80%;
  }
  
  .container {
    position: relative;
    width: 40%;
    padding: 1rem;
    transition: .5s ease;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    border-style: solid;
    border-width: 5px;
    padding: 1rem;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover {
    width: 50%;
  }
  
  .container:hover .image {
    opacity: 0.3;
    filter: blur(5px);
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    color: black;
    font-size: 30px;
    font-weight: 700;
    padding: 16px 20px;
  }

  
  /* Shapes! */
  .shapes {
    padding: 0;
    margin: 0;
  }

 /* Shapes.... Agaain.... */
 .shape-triangle {
  position: absolute;
  z-index: -4;
  width: 12vw;
  height: auto;
  animation: triangle-spin 10s linear infinite;
}

.shape-circle {
  position: absolute;
  z-index: -3;
  transform: translate(-40vw, 60vh);
  width: 10vw;
  height: auto;
  animation: circle-grow 10s ease infinite;
}

.shape-square {
  position: absolute;
  z-index: -3;
  width: 8vw;
  height: auto;
  animation: square-spin 22s linear infinite;
}

.shape-squiggle {
  position: absolute;
  z-index: -3;
  transform: translate(30vw, 23vh);
  width: 14vw;
  height: auto;
  animation: squiggle-float 5s ease infinite;
}

@keyframes triangle-spin {
  from {
    transform: translate(-40vw, 10vh) rotate(0deg);
    transform-origin: 50% 60%;
  }
  to {
    transform: translate(-40vw, 10vh) rotate(359deg);
    transform-origin: 50% 60%;
  }
}

@keyframes circle-grow {
  0% {
    transform: scale(1.0) translate(-40vw, 60vh);
  }
  50% {
    transform: scale(1.2) translate(-40vw, 60vh);
  }
}

@keyframes square-spin {
  from {
    transform: translate(30vw, 60vh) rotate(0deg);
    transform-origin: 50% 60%;
  }
  to {
    transform: translate(30vw, 60vh) rotate(359deg);
    transform-origin: 50% 60%;
  }
}

@keyframes squiggle-float {
  0% {
    transform: translate(30vw, 23vh);
  }
  50% {
    transform: translate(35vw, 23vh);
  }
} 
}
