.main-content {
  display: flex;
  width: 100%;
  height: auto;
}

.header-text {
position: center;
  font-size: 50px;
}

.under-text {
    font-weight: 700;
    font-size: 20px;
}

.section-title {
    padding: 2rem 0 0 0;
    font-weight: 700;
    font-size: 30px;
    opacity: 0.6;
}

.skill-icons {
    padding: 1rem 0 0 0;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

.single-skill {
    padding: 1rem;
    font-size: 20px;
}

  .skill-icon {
      height: auto;
      width: 100px;
      transform: rotate(0deg);
      transition: all ease 1s;
  }

  .skill-icon:hover {
    height: auto;
    width: 100px;
    transform: rotate(360deg);
}

  


  @keyframes hover {
    from { transform:  translate(0px, 0px) rotate(0deg);}
    to { transform:  translate(0px, 0px) rotate(359deg);
  }

  }

  @media (min-width:850px) {
    .header-text {
      font-size: 150px;
      padding: 4rem 0 0 0;
    }

    .under-text {
      font-size: 30px;
  }

  .single-skill {
    padding: 4rem;
    font-size: 30px;
}

  }