.header-text {
position: center;
  font-size: 50px;
}

.under-text {
    font-weight: 700;
    font-size: 20px;
}

.section-title {
    padding: 2rem 0 0 0;
    font-weight: 700;
    font-size: 30px;
    opacity: 0.6;
}

.skill-icons {
    padding: 1rem 0 0 0;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

.single-skill {
    padding: 1rem;
    font-size: 20px;
}

  .skill-icon {
      height: auto;
      width: 100px;
  }

  .skill-icon:hover {
    height: auto;
    width: 100px;
    animation:wobble-hor-bottom .8s ease;
}

  .skill-behind {
    position: absolute;
    height: auto;
    width: 100px;
    z-index: -3;
    animation: shape-spin 4s linear infinite;
  }

  #microsoft-square {
    height: auto;
    width: 50px;
  }

  @keyframes shape-spin {
    from { transform:  translate(-100px, 0px) rotate(0deg);}
    to { transform:  translate(-100px, 0px) rotate(359deg);
  }

  }