:root {
  --overlay-color: rgba(255, 255, 255, 0.9);
  --menu-speed: 0.75s;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

nav {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  line-height: 80%;
}

.logo {
  width: 75px;
  padding: 1rem 5px 1rem 1rem;
}

.logo-text {
  text-align: left;
  padding: 0px;
  font-weight: bolder;
}

.nav-bg {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  height: 112px;
  width: 100vw;
  background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 0%,
 rgba(255,255,255,1) 67%, rgba(255,255,255,0.3412552521008403) 83%, 
 rgba(255,255,255,0) 100%);
}

header {
    display: flex;
    width: 90%;
    height: 10vh;
    margin: auto;
    align-items: center;
}

/* Setting font and background */
body {
  line-height: 1.4;
  background: url("../images/pattern.svg") repeat 0 0;
  width: 100%;
  margin: 0;
  text-align: center;
  height: 300px;
  box-sizing: border-box;
  animation: slide 20s linear infinite;
}
/* Background Animation */
@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -400px 0;
  }
}



.btn {
  display: inline-block;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  text-decoration: none;
  transition: opacity 0.5s ease-in;
}

.btn:hover {
  opacity: 0.5;
}

.main-content {
  margin: auto;
  padding: 6rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.hero-text {
  z-index: -1;
  position: center;
}

.top-text {
  font-size: 50px;
}

.bottom-text {
  font-size: 30px;
}

.hero-image {
  position: relative;
  z-index: -2;
  padding: 0;
  margin: 0;
}

.me-image{
  z-index: -2;
  padding: 1rem 0 0 0;
  width: 90%;
  height: auto;
}


.shape-circle {
  position: absolute;
  z-index: -3;
  transform: translate(-330px, 90px);
  width: 45vw;
  height: auto;
  animation: circle-grow 6s ease infinite;
}

.shape-triangle {
  position: absolute;
  z-index: -4;
  /* transform: translate(-350px, 70px); */
  width: 40vw;
  height: auto;
  animation: triangle-spin 10s linear infinite;
}

.shape-squiggle {
  position: absolute;
  z-index: 1;
  transform: translate(-170px, 280px);
  width: 46vw;
  height: auto;
  animation: squiggle-float 9s ease infinite;
}

.social-section {
  padding: 1rem 10px 10px 10px;
}

.social-link {
  width: 90px;
  height: auto;
}


@keyframes triangle-spin {
  from { transform: translate(-160px, 50px) rotate(0deg); 
    transform-origin: 50% 60%;}
  to { transform:  translate(-160px, 50px) rotate(359deg); 
       transform-origin: 50% 60%;}
}

@keyframes squiggle-float {
  0% { transform: translate(-170px, 280px); }
  50% { transform: translate(-170px, 240px); }
}

@keyframes circle-grow {
  0% {  transform: scale(1.0)
    translate(-330px, 90px); }
  50% { transform: scale(1.1)
    translate(-330px, 90px);}
}